<div id="cuerpoContent">
    asdasdas
    

    <table  >
        <tr id="headers">
            <td>
                ID
            </td>
            <td>
                NOMBRE
            </td>
            <td>
                APELLIDO
            </td>
    
            <td>
                JOBID
            </td>
            <td>
                JOB LEVEL
            </td>
        </tr>
       <tr *ngFor="let item of listado ">
          <td id="tareas" ><button id="botonTarea" (click) = "devolverTarea(item.Descripcion)">
            {{item.empID}} 
          </button > </td> 
          <td class="fecha"> {{item.nombre }} </td> 
          <td class="fecha" > {{item.apellido}} </td> 
          <td class="fecha"> {{item.jobid }} </td> 
          <td class="fecha" > {{item.joblevel}} </td> 

         <!--         <td > {{item.Estado}} </td>       --> 
     
       </tr>
    </table>
    
</div>
    
